p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.task, .roundup {
    border-radius: 12px;
    border: 4px solid #505050;
    padding: 20px; 
    background-color: #F5F5F5;
}

.task:before {
    content: "For you to do";
    font-size: 20px;
}

.roundup:before {
    content: "Round Up";
    font-size: 20px;
}

.reader {
    border-radius: 12px;
    border: 4px solid #505050;
    margin: 20px;
    padding: 20px;
    font-size: 40px;
    font-weight:bold;
    color: #fff;
    background-color: #F75D5D;
}